h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { 
	color: #F8F8FF;
	font-size: 3.5em; 
}
h2 {
  color: #F8F8FF;
  font-size: 2em;
}

p {
	color: #F8F8FF;
}

a {
	color: red;
}

a:hover {
	color: green;
}

.background {
	background-image: url('../images/milada-vigerova-66601.jpg');
	background-size: 100%;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.centered {
  position: fixed; /* or absolute */
  top: 40%;
  left: 30%;
}

.bkgrd {
	background-color: #303539;
	position: relative;
	width: 60%;
	top: 30%;
	left: 20%;
}

.picture {
	position: relative;
	width: 60%;
	height: 30%;
	top: 20%;
	left: 33%;
}

.contact {
	background-color: #303539;
	position: relative;
	width: 60%;
	top: 40%;
	left: 20%;
}







