h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
}
h1 { 
	color: #F8F8FF;
	font-size: 3.5em; 
}
h2 {
  color: #F8F8FF;
  font-size: 2em;
}

p {
	color: #F8F8FF;
}

a {
	color: #F8F8FF;
}

a:hover {
	color: green;
}

.background {
	background-image: url('../images/wood-2925399_1920.jpg');
	background-size: 100%;
	height: 500px;
	width: 100%;
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
}

.centered {
  position: absolute; /* or absolute */
  top: 30%;
  left: 28%;
}

.bkgrd {
	background-image: url('../images/milada-vigerova-66601.jpg');
	background-size: 100%;
	position: relative;
	height: 500px;
	width: 100%;
	
}

.picture {
	position: relative;
	width: 60%;
	height: 30%;
	top: 20%;
}

.contact {
	background-color: #303539;
	position: relative;
	width: 60%;
	left: 20%;
	padding-bottom: 50px;
}

.about_me {
	top: 10%;
}

.projects {
	background-color: #F8F8FF;
	position: relative;
	width: 100%;
	height: 100%;
}


.icon {
	padding: 10px 10px 10px 10px;
}

.pic {
	position: relative;
	width: 400px;
	height: 400px;
	top: 20%;
	margin-left: 37px;
}

.color {
	background-color: #303539;
}

.about {
	background-color: #303539;
	height: 100%;
	position: relative;
	left: 5px;
}



